@import url('https://fonts.googleapis.com/css2?family=REM:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
$bg_board: hsl(201, 77%, 95%);

// $bg_board: #f0f7ff;
$bg_infor: #d2ebf7;
$bg_sidebar: rgb(255, 255, 253);
$color_press: #1b91ff;
$color_sidebar: rgb(170, 168, 168);
$width_leftbar: 230px;
$width_leftbar_hidden: 74px;
$bg_dasboard:#F0F7FF;
$font_text: 'Open Sans', sans-serif;
// top-bar
$height_topbar:74px;
// bg-input
$bg_input:#F7F7F7;
$bg_white: #fff;
$color_hover:#016ee9;
