@import '../../../../setting';

.progress_master {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    .chooseyear {
        margin-top: 5px;
        display: flex;
        justify-content: left;
        align-items: center ;
    }
    .select {
        width: 150px;
        .select-form {
            height: 31px;
        }
    }   

    .avarage-score {
        height: 137px;
        border-radius: 20px;
        width: 250px;
        background-color: $bg_sidebar;
        display: grid;
        place-items: center; /* căn giữa các phần tử con */

        .circle_score {
            width: 96px;
            height: 78px;
            border-radius: 50%;
            background-color: #f0f0f0; /* Thay đổi màu nền tùy ý */
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 33px;
            font-weight: 600;
            color: $color_press;
            margin-bottom: 10px;
        }
    }

    .table_div {
        margin-top: 30px;
        @media screen and (min-width: 400px) and (max-width: 830px) {
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        @media screen and (max-width: 258px) {
            width: 230px;
            overflow-x: scroll;
            overflow-y: hidden;
        }


        .filter-icon {
            cursor: pointer;
        }

        .content_colmark {
            display: flex;
            font-size: 13px;

            .cardmark {
                width: inherit;
                height: 100%;
                background-color: #F0FFF3;
                padding: 5px 10px;
                padding: 1.5px 10px;
            }

            .marksubject {
                text-align: center;
                margin-top: 2px;
            }

            .progresscontent1 {
                margin-left: 10px;

                .progressdetail {
                    color: $color_press;
                }
                .progresstime {
                    color: gray;
                    font-size: 10px;
                }
            }
        }
    }
   
}

@media only screen and (max-width: 768px) and (min-width: 250px) {
    .avarage-score {
        margin-top: 20px;
    }
}