@import '../../../../setting';

.revisoionclasses_master {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    .chooseyear {
        margin-top: 5px;
        display: flex;
        justify-content: left;
        align-items: center ;
    }
    .select {
        width: 150px;
    }

    .span-add-edit {
        margin-top: 10px;
        display: flex;
        justify-content: end;
        color: white;
        cursor: pointer;
        
        .span-add {
            background-color: $color_press;
            width: 60px;
            margin-right: 10px;
            border-radius: 10px;

            .add-title {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .span-edit {
            background-color: #E55858;
            border-radius: 10px;
            width: 60px;
            .edit-title {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .table_div {

        @media screen and (min-width: 568px) and (max-width: 830px) {
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
        }

    
        @media screen and (min-width: 280px) and (max-width: 567px) {
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        .filter-icon {
            cursor: pointer;
        }

        

        .content_col1 {
            display: flex;
            font-size: 13px;

            .cardprogess {
                height: 31px;
                background-color: #F0FFF3;
                padding: 1.5px 10px;
                
            }

            .propresssubject {
                text-align: center;
                margin-top: 2px;
            }

            .progresscontent1 {
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                .progressdetail {
                    color: $color_press;
                }
                .progresstime {
                    color: gray;
                    font-size: 10px;
                }
            }
        }
        
        @media only screen and (max-width: 1036px) and (min-width: 250px) {
            .content_col1 {
                display: block;
                font-size: 12px;
            }
        }
        
    }
   
}
